<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.previati.edgardo.currencyconverter">

    <compatible-screens>
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />

        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />

        <screen
            android:screenDensity="480"
            android:screenSize="normal" />
        <screen
            android:screenDensity="480"
            android:screenSize="large" />
        <screen
            android:screenDensity="480"
            android:screenSize="xlarge" />

        <screen
            android:screenDensity="640"
            android:screenSize="normal" />
        <screen
            android:screenDensity="640"
            android:screenSize="large" />
        <screen
            android:screenDensity="640"
            android:screenSize="xlarge" />
    </compatible-screens>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/activity_name_main"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.DisclaimerActivity"
            android:label="@string/activity_name_disclaimer"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name=".activity.PreferenceActivity"
            android:label="@string/activity_name_preferences"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>